USE [ZultecFBRInvoice]
GO
/****** Object:  Table [dbo].[InvoiceTypes]    Script Date: 04/09/2026 3:51:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceTypeCode] [nvarchar](50) NULL,
	[InvoiceType] [nvarchar](512) NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_InvoiceTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentTypes]    Script Date: 04/09/2026 3:51:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PaymentTypeCode] [nvarchar](50) NULL,
	[PaymentType] [nvarchar](512) NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_PaymentTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[InvoiceTypes] ON 

INSERT [dbo].[InvoiceTypes] ([ID], [InvoiceTypeCode], [InvoiceType], [Active]) VALUES (1, N'1', N'New', 1)
INSERT [dbo].[InvoiceTypes] ([ID], [InvoiceTypeCode], [InvoiceType], [Active]) VALUES (2, N'2', N'Debit', 1)
INSERT [dbo].[InvoiceTypes] ([ID], [InvoiceTypeCode], [InvoiceType], [Active]) VALUES (3, N'3', N'Credit', 1)
SET IDENTITY_INSERT [dbo].[InvoiceTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentTypes] ON 

INSERT [dbo].[PaymentTypes] ([ID], [PaymentTypeCode], [PaymentType], [Active]) VALUES (1, N'1', N'Cash', 1)
INSERT [dbo].[PaymentTypes] ([ID], [PaymentTypeCode], [PaymentType], [Active]) VALUES (2, N'2', N'Card', 1)
INSERT [dbo].[PaymentTypes] ([ID], [PaymentTypeCode], [PaymentType], [Active]) VALUES (3, N'3', N'Gift Voucher', 0)
SET IDENTITY_INSERT [dbo].[PaymentTypes] OFF
GO
/****** Object:  StoredProcedure [dbo].[SP_GetInvoiceTypes]    Script Date: 04/09/2026 3:51:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[SP_GetInvoiceTypes]
As
Begin
	SELECT ID, CONCAT(InvoiceTypeCode, ' - ', InvoiceType) as Value
	FROM [ZultecFBRInvoice].[dbo].[InvoiceTypes] where Active = 1
	order by InvoiceTypeCode
End
GO
/****** Object:  StoredProcedure [dbo].[SP_GetPaymentTypes]    Script Date: 04/09/2026 3:51:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[SP_GetPaymentTypes]
As
Begin
	SELECT ID, CONCAT(PaymentTypeCode, ' - ', PaymentType) as Value
	FROM [ZultecFBRInvoice].[dbo].[PaymentTypes] where Active = 1
	order by PaymentTypeCode
End
GO
